@font-face {
font-family: 'Proxima Nova Regular';
src: url('ProximaNovaCond-Regular.eot');
src: url('ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
url('ProximaNovaCond-Regular.woff') format('woff'),
url('ProximaNovaCond-Regular.ttf') format('truetype');

font-weight: normal;
font-style: normal;
}

html 
    {
        
    font-family: 'Proxima Nova Regular';
    height: 100%;
    width: 100%;

    }
body{
    background-color:#498CEC;

}
.weather{
    padding: 0px 100px 0px 100px;
    width: 1366px;
    margin:0 auto;

}

#box{
    
    display: none;
    text-decoration: none;    
    z-index: 4;
    width: 579px;
    height: 97px;
    box-shadow: 0px 2px8px rgba(0,0,0,0.15);
    margin-top: -98px;

}

.container{
    z-index: 10;
    display: block;
    width: 579px;
    height: 97px;
    background: #fff;
    border-radius: 5px;
    padding-top: 5px;

    
}
#city_text{
    z-index: 4;
    height: 67px;
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
    line-height: 67px;
    text-decoration: none;

}
#city{
    position: relative;
    z-index: 4;
    display: inline;   
    width: 360px;
    border: none;
    height: 70px;
    background: #ffffff;
    padding: 10px 0px 10px 25px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}

#ok{
    z-index: 4;
    display: block;
    border: none;
    background: #fff;
    color: #1086ff;
    text-decoration: none;
    float: right;
    padding: 25px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;



}
#ok::before
{
    background: #fff;
    text-decoration: none;
    color: #1086ff;
    top: 50px;

}
.links{
    width: 600px;

  
}
.links a{
    
    margin-right: 20px;
    text-decoration: none;
    display: inline;
    color: #fff;
    opacity: 0.6;
    width: 183.42px;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
#arrow{
    position: relative;
    display: inline;
    margin-right: 10px;
    margin-top: 10px;

}
.main{
    display: flex;

}
.switcher_deg{
    margin-top: 30px;
    margin-left: 600px;
}
#deg{
    position: absolute;
    opacity: 0.3984941;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #fff;

}

.weather_now{
    width: 441.23px;
    font-family: 'PT Sans', sans-serif;
    margin-top: 80px;
    margin-left: 35%;


}
#img_weather{

    height: 184px;
    position: relative;
    display: inline-block;

    
}

#temp{
    position: absolute;
    margin-top: 20px;
    width: 120%;
    font-size: 120px;
    font-weight: 400;
    line-height: 155px;
    color: #fff;

}
.temp_1{
    position: relative;
    display: inline;
    float: left;
}
#condition{

    color: #fff;
    float: left;
    position: absolute;
    margin-top: 200px;
    font-size: 25px;
}
.info{
    padding-top: 350px;
    display: table;
    position: absolute;
    width: 100%;

  
}
.wind{
    display: table-cell;
    padding-right: 100px;

 
}
.pressure{
    display: table-cell;
    padding-right: 100px;
}
.wet{
    display: table-cell;
    padding-right: 100px;
}
.chance_prec{
    display: table-cell;
    padding-right: 100px;
    

}
#info_weather{
    opacity: 0.6;
    width: 47.11px;
    height: 24px;
    color: #ffffff;
    font-family: 'Proxima Nova Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
}
#info_w2{
    width: 182.81px;
    height: 33px;
    color: #ffffff;
    font-family: 'Proxima Nova Regular';
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
}
